<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Cucumber Tests for Restful Booker">
    <test verbose="2" preserve-order="true" name="Cucumber Scenarios">
        <classes>
               <class name="runner.CucumberTests">
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="listeners.AnnotationTransformer"></listener>
    </listeners>
</suite>

<!-- If class Cucumbertest fail then it will be retried by Annotation Transformer -->